.wraper-fixed-img {
    /* width: 347px;*/
    min-height: 200px;
    max-height: 200px; 
    float: left;
  }
  
  .img-item-fixed {
    max-width: 100%;
      height: 100%;
  }
/* @@@@@@@@@@@@@@@@@@@@@@@@@@ */

  .sloganOverlay{
    font-weight: bolder;
}

.card-images-change {
  position: relative;
  display: inline-block;
}
.card-images-change .img-top-change {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.card-images-change:hover .img-top-change {
  display: inline;
}

.btn-cart-product{
  font-size: 12px;
  font-weight: 900;
}

.text-card-description{
  font-weight: 300;
}

.container-img-overlay{
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left-img-overlay {
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 11;
}

.bottom-right-img-overlay {
  position: absolute;
  bottom: 8px;
  right: 16px;
  z-index: 11;
}