.wraper-fixed-img {
    min-height: 200px;
    max-height: 200px; 
    float: left;
  }
  
.img-item-fixed {
    max-width: 100%;
      height: 100%;
  }

.sloganOverlay{
    font-weight: bolder;
}

.card-images-change {
  position: relative;
  display: inline-block;
}

.card-images-change .img-top-change {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

.card-images-change:hover .img-top-change {
  display: inline;
}

.btn-cart-product{
  font-size: 12px;
  font-weight: 900;
  border-radius: 2em;
  background-color: teal;
  color: #ffffff;
  padding: 0.5em 1.5em;
}

.btn-cart-detail{
  font-size: 12px;
  font-weight: 900;
  border-radius: 2em;
  background-color: #8DE0C6;
  color: #ffffff;
  padding: 0.5em 1.5em;
}

.text-card-description{
  font-weight: 300;
}

.container-img-overlay{
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left-img-overlay {
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 11;
  padding: 0.7em;
  margin-bottom: 1em;
}

.bottom-right-img-overlay {
  position: absolute;
  bottom: 8px;
  right: 16px;
  z-index: 11;
  padding: 0.7em;
  margin-bottom: 1em;
}

.card{
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-img-top{
  border-radius: 1em;
}