#filter-bar-customer{
    background-color: white !important;
    padding-top: 40px;
}

.input-range__track--active{
    background-color: #8DE0C6  !important;
}

.input-range__slider{
    background: #8DE0C6 ;
    border-color: #8DE0C6 ;
}

.input-range__label-container{
    color: black;
    font-family: 'Nunito';
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .filter-lbl-nav {
      visibility: hidden;
    }
  }

