@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{
    font-family: 'Space Grotesk';
    font-weight: 900;  
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@import "NavigationBar.css";
@import "FilterBar.css";
@import "Footer.css";
@import "CardProduct.css";
@import "SideBar.css";