#CustomerNavigationBar{
    background-color: white;
}

#navigationBarSpacingBottom{
    margin-bottom: 55px;
}

.NavItemActive{
    color: #fff !important; 
    background-color: #8DE0C6  !important;
}

.nav-link:hover,
.active:hover {
  color: #8DE0C6;
}

#nav-btn-search{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: white;
    font-weight: bolder;
}

#nav-input-search {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 2 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 2 !important;
}

#nav-icon-search{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
  
a{
    color: black;
}