#CustomerNavigationBar{
    background-color: white;
}

#navigationBarSpacingBottom{
    margin-bottom: 55px;
}

  .NavItem:hover{
      font-size: 15px;
      font-weight: bolder;
  }


.NavItemActive{
    color: #fff !important; 
    background-color: black  !important;
}

#nav-btn-search{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    font-weight: bolder;

}

#nav-input-search {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#nav-icon-search{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


#shakeDownload {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  a{
    color: black;
  }
