  .no-suggestions {
    color: #999;
    padding: 0.5rem;
    z-index: 999;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-radius: 3px;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    position: absolute;
    overflow-y: auto;
    background: white;
    padding-left: 0;
    top: 38px;
    left: 41px;
    width: 87%;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }

  .suggestions li a {
    text-decoration: none;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #b4ebe8;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }

  #form-search-nav{
    position: relative;
  }
